* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hero-banner {
	width: 100vw;
	height: 600px;
	background-size: cover;
	background-position: center;
	position: relative;
	margin: 20px 0;
}

.hero-banner-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.hero-banner-wrapper {
	display: flex;
	height: 100vh;
}

.hero-banner-text {
	padding: 100px 0;
	line-height: 40px;
	color: white;
}

.hero-banner-text.is-black {
	color: black;
}

.hero-title {
	font-size: 32px;
	font-weight: 600;
}

.hero-subtitle {
	font-size: 20px;
	font-weight: 400;
}

.hero-banner-wrapper.is-right {
	justify-content: flex-end;
}


.hero-banner-wrapper.is-center {
	justify-content: center;
}

.bars {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.bars-wrapper {
	display: flex;
	justify-content: center;
	gap: 12px;
}

.bar {
	width: 60px;
	height: 3px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .2);
}

.bar.is-active {
	background-color: rgba(0, 0, 0, .6);
}