.input-boxes {
	display: flex;
}
.form {
	display: flex;
	gap: 32px;
	padding: 140px 0 0 220px;
}
.form-input {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.form-input-box {
	width: 400px;
	padding:  24px;
	border-radius: 16px;
	border: 1px solid #E9E9E9;
	box-shadow: 0px 4px 16px 0px #0000000D;
	font-size: 16px;
	font-weight: 600;
	color: $black-003;
}
.form-input-label {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: $black-004;

}
.form-input.bg-dark {
	color: $black-003;
	.form-input-box {
		background-color: #222222;
	}

}