* {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

body {
    font-family: 'Poppins', sans-serif;
}

.notification {
    margin-bottom: 16px;
}

.notification {
    display: flex;
    padding: 32px 40px 32px 32px;
    align-items: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    position: relative;

}

.is-primary {

    background: #587BF5;
    color: #FFF;

}

.is-danger {

    background: #F55858;
    color: #FFF;


}

.is-nature{
    color: #FFF;
    background: #40B661;
}

.is-hope {
    color: #FFF;
    background: #FBA04C;
}

.is-primary1 {
    
    color: #587BF5;
    background: #DDE4FF;

    border: 1px solid #587BF5;
}

.is-danger1 {
    border-radius: 16px;
    border: 1px solid #F55858;
    background: #F8C3C3;
    color: #F55858;

}

.is-nature1 {
    border: 1px solid #40B661;
    background: #C1FFD3;
    color: #40B661;

}

.is-hope1 {
    color: #FBA04C;
    border: 1px solid #FBA04C;
    background: #FFECDA;


}

.close {
    /* @NOTE Button reset code */
    width: 20px;;
    height: 20px;
    border: 0;
    outline: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFFFFF;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
}

.head-notification {
    max-width: 1200px;

}

.close-primary1 {
    color: #587BF5;
    background-color: rgba(88, 123, 245, 0.40);
    ;
}

.close-danger1 {
    color: #F55858;
    background-color: rgba(245, 88, 88, 0.40);
}

.close-nature1{
    color: #40B661;
    background-color: rgba(64, 182, 97, 0.40);
}

.close-hope1 {
    background-color: rgba(251, 160, 76, 0.40);
    color: #FBA04C;

}