.popup-card{
	width: 650px;
	border-radius: 10px;
	padding: 32px;
	background: linear-gradient(to bottom, #A5C2E2, #CE95B6, #F49994, #FA9F59, #FFFFFF);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.popup-card-close-button{
	width: 36px;
	height: 36px;
}
.popup-card-top-part{
	display: flex;
	justify-content: center;

}
.popup-card-header{
	width: 200px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	border-radius: 8px;
	margin-bottom: 16px;
	
}
.popup-card-title-wrapper{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;

}
.popup-card-title{
	font-size: 40px;
/*	font-weight: 350;*/
	margin-bottom: 24px;
	line-height: 1.2;
}
.popup-card-subtitle{
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;

}
.popup-card-form{
	display: flex;
	justify-content: center;
	gap: 8px;
	width: 100%;
	max-width: 600px;
	padding: 8px;
}
.popup-card-form-input{
	width: 400px;
	height: 48px;
	font-size: 18px;
	border: none;
	border: 1px solid grey;
	border-radius: 4px;
	margin-bottom: 16px;
	padding-left: 12px;

}
.popup-card-button{
	width: 80px;
	height: 48px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	background-color: #88B3D3;
	color: #D0E0E9;

}
.popup-card-footer{
	font-size: 10px;
	width: 100%;
	max-width: 400px;
	color: #bdbbbb;
	text-align: center;
	margin: 0 auto;
}