.tag {
	padding: 0;
	margin: 0;
	background: none;
	outline: 0;
	border: none;
	text-decoration: none;
	display: inline-flex;
	font-size: 12px;
	padding: 4px 8px;
	background-color: #068932;
	color: #FFFFFF;
	border-radius: 4px;
	cursor: pointer;
	transition: all 300ms ease;
}

.tag:hover {
	background-color: #A0A967;
}
.tag.is-grey{
	background-color: #dedcd7;
	color: #595c5a;
}
.tag.is-white{
	background-color:  #E0E0E0;
	color: #333333;
}
.tag.is-black {
	background-color: #121212;
	color: #c5d1ce;
}
.tag.is-lightgreen {
	background-color: #45ccad;
	color: #c5d1ce;	
}
.tag.is-blue {
	background-color: #3432b3;
	color:  #c5d1ce;
}
.tag.is-skyblue {
	background-color: #3891d9;
	color: #c5d1ce;
}
.tag.is-green{
	background-color: #3bc47b;
	color: #c5d1ce;
}
.tag.is-yellow {
	background-color: #e3c51e;
	color: #333333;
}
.tag.is-red {
	background-color: #a31c15;
	color: #c5d1ce;
}
