.tag {
	display: inline flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4px 10px 4px 12px;
	font-size: 14px;
	font-weight: 200;
	border-radius: 8px;
	cursor: pointer;
	margin: 8px 24px 20px 40px
}

.tag.is-evil {
	background-color: #100e0e;
	color: #ffffff;

}

.tag.is-dark {
	background-color: #100e0e;
	color: #ffffff;
}

.tag.is-light {

	background-color: #999696;
	color: #270202
}

.tag.is-purity {

	background-color: #FFFFFF;
	color: #191818;
	border: none;
	box-shadow: none;
}

.tag.is-primary {
	background-color: #16f880;
	color: white;
}

.tag.is-link {
	background-color: #9B26B6;
	color: white;
}

.tag.is-info {
	background-color: #7487f4;
	color: white;
}

.tag.is-success {
	background-color: #16f880;
	color: white;
}

.tag.is-warning {
	background-color: #fff200;
	color: #191818;
}

.tag.is-danger {
	background-color: #e8380c;
	color: white
}