<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="section">
        <div class="section-mask">
            <div class="section-container">
                <div class="section-wrapper">
                    <div class="banner-card-1">
                        <h1 class="banner-card-1-title">New Properties <br>added every week</h1>
                        <!-- <a class="banner-card-1-button" href="#">Book in advance</a> -->
                        <div>
                        <button class="button-hero has-shadow is-fullrounded is-lg">Book in advance</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</body>

</html>