<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Feature Card-1</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<section class="feature-card-1">

		<div class="feature-card">
			<div class="feature-card-icon">
				<svg class="feature-card-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
			</div>

			<div class="feature-card-text">
				<div class="feature-card-title">
					<h1 class="feature-card-title-text">Easy to use</h1>
				</div>

				<div class="feature-card-subtitle">
					<p class="feature-card-subtitle-text">
						ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet ac tincidunt
					</p>
				</div>
			</div>

			<div class="feature-card-cta-icon">
				<a href="/"><svg  class="feature-card-cta-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></a>
			</div>
		</div>

		<div class="feature-card">
			<div class="feature-card-icon">
				<svg class="feature-card-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
			</div>

			<div class="feature-card-text">
				<div class="feature-card-title">
					<h1 class="feature-card-title-text">Easy to use</h1>
				</div>

				<div class="feature-card-subtitle">
					<p class="feature-card-subtitle-text">
						ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet ac tincidunt
					</p>
				</div>
			</div>

			<div class="feature-card-cta-icon">
				<a href="/"><svg  class="feature-card-cta-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></a>
			</div>
		</div>
		<div class="feature-card">
			<div class="feature-card-icon">
				<svg class="feature-card-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
			</div>

			<div class="feature-card-text">
				<div class="feature-card-title">
					<h1 class="feature-card-title-text">Easy to use</h1>
				</div>

				<div class="feature-card-subtitle">
					<p class="feature-card-subtitle-text">
						ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet ac tincidunt
					</p>
				</div>
			</div>

			<div class="feature-card-cta-icon">
				<a href="/"><svg  class="feature-card-cta-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></a>
			</div>
		</div>
	</section>
</body>
</html>