<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Feature Card-1</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<section class="feature-card-1">

		<div class="feature-card card-3">

			<div class="feature-card-text">
				<div class="feature-card-title">
					<h1 class="feature-card-title-text">Easy to use</h1>
				</div>

				<div class="feature-card-subtitle">
					<p class="feature-card-subtitle-text">
						 ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque
					</p>
				</div>
			</div>
			<div class="feature-card-poster">
				<img class="feature-card-poster-img" src="/assets/img/feature.png">
			</div>
			
		</div>

		<div class="feature-card card-3">

			<div class="feature-card-text">
				<div class="feature-card-title">
					<h1 class="feature-card-title-text">Easy to use</h1>
				</div>

				<div class="feature-card-subtitle">
					<p class="feature-card-subtitle-text">
						 ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque
					</p>
				</div>
			</div>
			<div class="feature-card-poster">
				<img class="feature-card-poster-img" src="/assets/img/feature.png">
			</div>
			
		</div>
		<div class="feature-card card-3">

			<div class="feature-card-text">
				<div class="feature-card-title">
					<h1 class="feature-card-title-text">Easy to use</h1>
				</div>

				<div class="feature-card-subtitle">
					<p class="feature-card-subtitle-text">
						 ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque
					</p>
				</div>
			</div>
			<div class="feature-card-poster">
				<img class="feature-card-poster-img" src="/assets/img/feature.png">
			</div>
			
		</div>
	</section>
</body>
</html>