<html>
<head>
<title>Flip product card</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="section">
	<div class="section-mask">
		<div class="section-container">
			<div class="section-wrapper">
				<div class="card">
					<div class="flip-card">
						<div class="card-face is-front">
							<img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3">
						</div>
						<div class="card-face is-rear">
							<div class="card-face-wrapper">
								<h1>Sundar Pichai</h1>
								<p>Pichai Sundararajan, better known as Sundar Pichai, is an Indian-born American business executive. He is the chief executive officer of Alphabet Inc. and its subsidiary Google.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="section-container">
		<div class="section-wrapper">
		</div>
	</div>
</div>


</body>
</html>
