<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="author" content="Shek Muktar">
<meta name="keywords" content="metacss, css-framework, framework, css">
<meta name="description" content="A Customizable, web UI component library">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dreamneat</title>
<link rel="stylesheet" href="/styles.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
	<div class="section-image image-items-slider" data-myslideup="slidein-1">
		<div class="section-image-wrapper flex-col ">
			<div class="section-image-poster-wrappper">
				<div class="section-image-poster-image-rating-wrapper">
					<div class="section-image-poster-image-rating">
						<h2 class="section-image-poster-image-rating-title">Chicken Lollipop </h2>
						<h2 class="section-image-poster-image-rating-star">4.5 <span class="star">⭐</span></h2>
					</div>
					<img class="section-image-poster-image" src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
				</div>
				<div class="section-image-poster-image-rating-wrapper">
					<div class="section-image-poster-image-rating">
						<h2 class="section-image-poster-image-rating-title">Chicken Lollipop </h2>
						<h2 class="section-image-poster-image-rating-star">4.5 <span class="star">⭐</span></h2>
					</div>
					<img class="section-image-poster-image" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
				</div>
				<div class="section-image-poster-image-rating-wrapper">
					<div class="section-image-poster-image-rating">
						<h2 class="section-image-poster-image-rating-title">Chicken Lollipop </h2>
						<h2 class="section-image-poster-image-rating-star">4.5 <span class="star">⭐</span></h2>
					</div>
					<img class="section-image-poster-image" src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
				</div>
				<div class="section-image-poster-image-rating-wrapper">
					<div class="section-image-poster-image-rating">
						<h2 class="section-image-poster-image-rating-title">Chicken Lollipop </h2>
						<h2 class="section-image-poster-image-rating-star">4.5 <span class="star">⭐</span></h2>
					</div>
					<img class="section-image-poster-image" src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
				</div>
				<div class="section-image-poster-image-rating-wrapper">
					<div class="section-image-poster-image-rating">
						<h2 class="section-image-poster-image-rating-title">Chicken Lollipop </h2>
						<h2 class="section-image-poster-image-rating-star">4.5 <span class="star">⭐</span></h2>
					</div>
					<img class="section-image-poster-image" src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
				</div>




			</div>
					<!-- <div class="slider-circles">
						<div class="slider-circle is-selected"></div>
						<div class="slider-circle"></div>
						<div class="slider-circle"></div>
						<div class="slider-circle"></div>
					</div> -->
				</div>
			</div>
</body>
</html>