<DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contect -1</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
   <body>
    <section class="section" style="background-color: #000;">
     <div class="container">
       <div class="section-wrapper">
        <div class="contact-section-2">
          <div class="contact-details">
            <div class="contact-detail">
              <div class="contact-detail-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"/></svg>
              </div>
              <h2 class="contact-detail-heading">Call Now</h2>
              <p class="contact-detail-text"><a href="tel:+971565402626">+97 1565402626</a></p>
            </div>
            <div class="contact-detail">
              <div class="contact-detail-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M2 5.5V3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V19h18V7.3l-8 7.2-10-9zM0 10h5v2H0v-2zm0 5h8v2H0v-2z"/></svg>
              </div>
              <h2 class="contact-detail-heading">Email Us</h2>
              <p class="contact-detail-text"><a href="mailto:info@puneetguptarealestate.ae">info@puneetguptarealestate.ae</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
   </body>
   </html>

