<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CTA - 1</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="login_box">
	<div class="login-img"></div>
	<div class="login-form">

		<div class="form-field">
			<label class="label" for="email">Name</label>
			<input class="input" type="text" name="name" id="name" placeholder="Your Full Name">
		</div>

		<div class="form-field">
			<label class="label" for="email">Email</label>
			<input class="input" type="text" name="email" id="email" placeholder="@example123.com">
		</div>

		<div class="form-field">
			<label class="label" for="phn-number">Phone</label> 
			<input class="input" type="password" name="password" id="password" placeholder="e.g 9000001101">
		</div>

		<div class="form-field">
			<button class="submit-button">SUBMIT</button>
		</div>
	</div>
</div>
</body>
</html>