<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>card</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<div class="container">
		<div class="feature-cards-2">
			<div class="feature-card-2">
				<div class="circle">
					<svg class="arrow-right-up-icon"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
				</div>
				<div class="card-body">
					<h3 class="heading">Easy to use</h3>
					<p class="description">ac tincidunt vitae semper quis lectus nulla at<br>volutpat diam ut venenatis tellus in metus<br>vulputate eu scelerisque felis imperdiet ac<br>tincidunt vitae semper quis lectus nulla at<br>volutpat diam</p>
					<div class="card-footer">
						<a href="#"class="card-link">
							<span>know more</span>
							<svg class="right-arrow-icon"gxmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"></path></svg>
						</a>
					</div>
				</div>
			</div>
			<div class="feature-card-2">
				<div class="circle">
					<svg class="arrow-right-up-icon"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
				</div>
				<div class="card-body">
					<h3 class="heading">Easy to use</h3>
					<p class="description">ac tincidunt vitae semper quis lectus nulla at<br>volutpat diam ut venenatis tellus in metus<br>vulputate eu scelerisque felis imperdiet ac<br>tincidunt vitae semper quis lectus nulla at<br>volutpat diam</p>
					<div class="card-footer">
						<a href="#"class="card-link">
							<span>know more</span>
							<svg class="right-arrow-icon"gxmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"></path></svg>
						</a>
					</div>
				</div>	
			</div>
		</body>
		</html>
		