<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="author" content="Shek Muktar">
<meta name="keywords" content="metacss, css-framework, framework, css">
<meta name="description" content="A Customizable, web UI component library">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dreamneat</title>
<link rel="stylesheet" href="/styles.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
	<div class="body">
		<a class="fire-button" href="">🔥🔥🔥</a>
	</div>
</body>
</html>