<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hero Section</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>


<section class="hero-slider" style="background-image: url('https://images.unsplash.com/photo-1616353071588-708dcff912e2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3');">
	<div class="hero-slider-container">
		<div class="hero-slider-wrapper is-text-right">
			<div class="hero-slider-text">
				<h1 class="hero-title">iPhone</h1>
				<p class="hero-subtitle">A product of Apple</p>
			</div>
		</div>
	</div>

	<div class="bars">
		<div class="bars-wrapper">
			<div class="bar"></div>
			<div class="bar is-active"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
</section>


<section class="hero-slider" style="background-image: url('https://images.unsplash.com/photo-1610602699083-1d70b860505b?w=1920&auto=format&fit=crop&q=60&ixlib=rb-4.0.3');">
	<div class="hero-slider-container">
		<div class="hero-slider-wrapper">
			<div class="hero-slider-text">
				<h1 class="hero-title">iPhone</h1>
				<p class="hero-subtitle">A product of Apple</p>
			</div>
		</div>
	</div>

	<div class="bars">
		<div class="bars-wrapper">
			<div class="bar"></div>
			<div class="bar is-active"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
</section>

<section class="hero-slider" style="background-image: url('https://images.unsplash.com/photo-1486746290722-483e8f1e44d2?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3')">
	<div class="hero-slider-container">
		<div class="hero-slider-wrapper is-text-center">
			<div class="hero-slider-text">
				<h1 class="hero-title">iPhone</h1>
				<p class="hero-subtitle">A product of Apple</p>
			</div>
		</div>
	</div>

	<div class="bars">
		<div class="bars-wrapper">
			<div class="bar"></div>
			<div class="bar is-active"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
</section>



</body>
</html>