<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Kayenat's Resume</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<section class="section">
	<!-- <div class="boxes">
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
	</div> -->
	<div class="animated-circle">
		<div class="circles">
			<div class="circle animation"></div>
		</div>
		<div class="circles">
			<div class="circle animation"></div>
		</div>
		<div class="circles">
			<div class="circle animation"></div>
		</div>
	</div>
	<div class="container">
		<div class="wrapper">
			<div class="resume-heading">
				<h1>Resume of KAYENAT PARVEEN</h1>
			</div>
			<div class="resume-section">
				<div class="img-wrapper">
					<img class="kynt-img" src="../assets/pic.jpeg" alt="Kayenat-img">
				</div>
				<div class="resume-texts">
					<h1 class="title">KAYENAT PARVEEN</h1>
					<p class="subtitle">
						Work as an intern from the greatest company <strong>APPZILLIANS</strong>.
					</p>
				</div>
			</div>
			<div class="info-section">
				<div class="info-component">
					<h1 class="title">Internships</h1>
					<ul class="ul-points">
						<li class="subtitle">
							<strong>APPZILLIANS</strong> a great learning and IT plateform.
						</li>
						<li class="subtitle">
							<em>UX/UI Designer intern.</em>
						</li>
						<li class="subtitle">
							<em>Frontend Web Development intern.</em>
						</li>
					</ul>
				</div>

				<div class="info-component">
					<h1 class="title">Projects</h1>
					<ul class="ul-points">
						<li class="subtitle">
							Landing Pages.
						</li>
						<li class="subtitle">
							Login Forms.
						</li>
						<li class="subtitle">
							Showcase sections.
						</li>
						<li class="subtitle">
							Exapmle sections.
						</li>
					</ul>
				</div>

				<div class="info-component">
					<h1 class="title">Education</h1>
					<table class="course-table ul-points">
						<thead>
							<tr>
								<th>Course</th>
								<th>Institute</th>
								<th>Year</th>
								<th>Results</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>BA in Urdu</td>
								<td>West Bengal State University</td>
								<td>2024</td>
								<td>84.07%</td>
							</tr>
							<tr>
								<td>Higher Secondary (12<sup>th</sup>)</td>
								<td>WBBHSE</td>
								<td>2021</td>
								<td>65%</td>
							</tr>
							<tr>
								<td>Secondary (10<sup>th</sup>)</td>
								<td>WBBSE</td>
								<td>2019</td>
								<td>50%</td>
							</tr>
						</tbody>
					</table>
				</div>


				<div class="info-component">
					<h1 class="title">Skills</h1>
					<ul class="ul-points">
						<li class="subtitle">HTML</li>
						<li class="subtitle">CSS</li>
						<li class="subtitle">Javascript</li>
					</ul>
				</div>

				<div class="info-component">
					<h1 class="title">Personal Details</h1>
					<ul class="ul-points">
						<li class="subtitle">Date of Birth	:  15-08-2003</li>
						<li class="subtitle">Father's Name 	:  Nesar Alam.</li>
						<li class="subtitle">Address 		:  Kankinara, Bhatpara.</li>
						<li class="subtitle">Email       	:  kayenatparveen143@gmail.com.</li>
						<li class="subtitle">Contacts    	:  6289854897/9051230718</li>
					</ul>
				</div>

				<div class="info-component">
					<h1 class="title">Hobbies</h1>
					<ul class="ul-points">
						<li class="subtitle">Learning New Skills</li>
						<li class="subtitle">Reading Urdu Novels</li>
						<li class="subtitle">Reciting Poetry</li>
						<li class="subtitle">Stitching</li>
					</ul>
				</div>

				<div class="info-component">
					<h1 class="title">Connect With Me</h1>
					<ul class="ul-points">
						<li class="subtitle">
							<a href="https://github.com/ambivert-kynt/ambivert-kynt" title="Github" target="_blank">Github</a>
						</li>
						<li class="subtitle">
							<a href="https://www.instagram.com/_narcissit_15/" title="Instagram" target="_blank">Instagram</a>
						</li>
						<li class="subtitle">
							<a href="https://www.facebook.com/stella.dcroz.7" title="Facebook" target="_blank">Facebook</a>
						</li>
						<li class="subtitle">
							<a href="https://twitter.com/Kayenat_15" target="_blank">Twitter</a>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>
