<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Input Box Components</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<section class="input-boxes">
		
		<form class="input-1">
		<label class="input-text is-light-font" for="full-name">Name</label>
		<input class="input-box" type="text" name="full-name" id="full-name" placeholder="Your Full Name">
	</form>

	<form class="input-1">
		<label class="input-text is-dark-font" for="full-name">Name</label>
		<input class="input-box is-dark" type="text" name="full-name" id="full-name" placeholder="Your Full Name">
	</form>

	</section>
</body>
</html>	