<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Job Landing page - 1</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<nav class="navbar bg-transparent has-three-columns top">
		<div class="navbar-wrapper">
			<div class="navbar-left">
				<div class="navbar-content">
					<div class="navbar-brand">
						<img src="/assets/img/image-7.png" alt="P. Devi Aviation Logo">
					</div>
					<div class="navbar-hamburger" role="button">
						<div id=""><i class="ri-menu-2-line"></i></div>
					</div>
				</div>
			</div>
			<div class="navbar-controls">
				<div class="navbar-controls-wrapper">
					<div class="navbar-brand">
						<img src="/assets/img/image-7.png" alt="P. Devi Aviation Logo">
					</div>
					<button class="navbar-toggler" type="button">
						<div id="menuToggler"><i class="ri-close-line"></i></div>
					</button>
				</div>
			</div>
			<div class="navbar-center">
			</div>
			<div class="navbar-right">
				<div class="navbar-content">
					<ul class="navbar-menu">
						<li class="">
							<a href="#" class="button is-white is-fullrounded">Call</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<section class="section landing-page-1-hero-section bg-gradient-1">
		<div class="section-mask">
			<div class="section-background">
				<img class="particle-paper-plane" src="/assets/img/particle-paper-plane.svg" alt="">
				<img class="particle-wires" src="/assets/img/particle-wires.svg" alt="">
			</div>
			<div class="section-container">
				<div class="section-wrapper">
					<div class="landing-page-title-wrapper">
						<h2 class="title">Exciting<br> New Opportunity</h2>
						<p class="subtitle">Join the Aviation Industry Today</p>

						<div class="login-section-1">
							
							<div class="login-section-1-wrapper">
								<div class="circle-plane">
									<img class="plane-image" src="/assets/img/plane.png" alt="Plane image">
								</div>
								<div class="login-form">
									<div class="form-field">
										<label class="label-1" for="email">Your full name</label>
										<input class="input-1" type="text" name="name" id="name" placeholder="Your full name">
									</div>

									<div class="form-field">
										<label class="label-1" for="phn-number">Your mobile number</label> 
										<input class="input-1" type="text" name="text" id="text" placeholder="e.g 9000001101">
									</div>

									<div class="form-field">
										<label class="label-1" for="job">Select job from the list</label>
										<select class="select-1">
											<option selected disabled>Select job</option>
											<option>web designing</option>
											<option>Data entry</option>
										</select>
									</div>

									<div class="form-field">
										<label class="label-1" for="state">Where do you want to work?</label>
										<select name="" class="select-1">
											<option value="0">Select state</option>
											<option value="west-bengal">West Bengal</option>
											<option value="delhi">Delhi</option>
											<option value="mumbai">Mumbai</option>
											<option value="rajasthan">Rajasthan</option>
											<option value="gujrat">Gujarat</option>
										</select>
									</div>

									<div class="form-field">
										<a class="hero-button-1" href="#">SUBMIT</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-aviation-logos">
		<div class="company-logo-scrollable"> 
			<div class="company-logo">
				<img src="/assets/img/air-india.png" alt="company logo">
			</div>
			<div class="company-logo">
				<img src="/assets/img/air-india-sats.png" alt="company logo">
			</div>
			<div class="company-logo">
				<img src="/assets/img/indiGo.png" alt="company logo">
			</div>
			<div class="company-logo">
				<img src="/assets/img/spicejet.png" alt="company logo">
			</div>
			<div class="company-logo">
				<img src="/assets/img/air-asia.png" alt="company logo">
			</div>
			<div class="company-logo">
				<img src="/assets/img/jet-airways.png" alt="company logo">
			</div>
		</div>
	</section>


	<section class="section testimonial-section bg-gradient-1 section-slim">
		<div class="section-mask">
			<div class="section-container">
				<div class="section-wrapper">
					<div class="section-text">
						<div class="section-text-wrapper">
							<h1 class="section-title my-data" data-myslideup="slidein-1">
								Our candidates who got excellent position though our company
							</h1>
						</div>
						<div class="testimonial-slider">
							<button class="testimonial-slider-button">
								<svg class="testimonial-slider-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path></svg>
							</button>
							<div class="testimonial-slider-wrapper" data-myslides="slider-1">
								<div class="testimonial-card">
									<div class="testimonial-card-wrapper">
										<div class="testimonial-card-top">
											<div class="testimonial-card-avatar">
												<img class="testimonial-card-avatar-img" src="/assets/img/p-devi.png">
											</div>
											<div class="testimonial-card-text">
												<p>
													Thanks to P. Devi Aviation, I thrive in ground handling, tackling challenges and fostering teamwork daily. Grateful for the support, I'm proud to contribute to aviation's success.
												</p>
											</div>
										</div>
										<div class="testimonial-card-footer">
											<div class="testimonial-card-footer-left">
												<h1 class="testimonial-card-footer-left-header">Deepak Shaw</h1>
												<span class="testimonial-card-footer-left-text">Ground Handling Position</span>
											</div>
											<div class="testimonial-card-footer-right">
												<div class="testimonial-card-footer-right-star">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z"></path></svg>
												</div>
												<div class="testimonial-card-footer-right-star">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z"></path></svg>
												</div>
												<div class="testimonial-card-footer-right-star">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z"></path></svg>
												</div>
												<div class="testimonial-card-footer-right-star">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z"></path></svg>
												</div>
												<div class="testimonial-card-footer-right-star">
													<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0008 14.6564L14.8175 16.3769L14.0517 13.1664L16.5583 11.0192L13.2683 10.7554L12.0008 7.70792V14.6564ZM12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z"></path></svg>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button class="testimonial-slider-button">
								<svg class="testimonial-slider-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"></path></svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section landing-page-1-hero-section bg-gradient-1 section-slim">
		<div class="section-mask">
			<div class="section-container">
				<div class="section-wrapper">
					<div class="section-text-wrapper-2">
						<h1 class="section-title-aviation">Land your foot on aviation industry now, <span class="text-blue">we are hiring!</span>
						</h1>
						<p class="section-subtitle-aviation">In the past, we've provided numerous candidates with excellent opportunities for lucrative positions. Now, the aviation industry seeks candidates for vacant roles. Don't delay; secure your place by filling out the form below. Applications are processed on a first-come, first-served basis.</p>
					</div>

					<div class="login-section-1">
						<div class="login-section-1-wrapper">
							<div class="login-form">
								<div class="form-field">
									<label class="label-1" for="email">Your full name</label>
									<input class="input-1" type="text" name="name" id="name" placeholder="Your full name">
								</div>

								<div class="form-field">
									<label class="label-1" for="phn-number">Your mobile number</label> 
									<input class="input-1" type="password" name="password" id="password" placeholder="e.g 9000001101">
								</div>

								<div class="form-field">
									<label class="label-1" for="job">Select job from the list</label>
									<select class="select-1">
										<option selected disabled>Select job</option>
										<option>web designing</option>
										<option>Data entry</option>
									</select>
								</div>

								<div class="form-field">
									<label class="label-1" for="state">Where do you want to work?</label>
									<select class="select-1">
										<option selected disabled>Select state</option>
										<option>West Bengal</option>
										<option>Delhi</option>
										<option>Mumbai</option>
										<option>Rajasthan</option>
										<option>Gujarat</option>
									</select>
								</div>

								<div class="form-field">
									<a class="hero-button-1" href="#">SUBMIT</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-banner-card bg-gradient-2">
		<div class="section-mask">
			<div class="section-container">
				<div class="section-wrapper">
					<div class="banner-card-1">
						<h1 class="banner-card-1-title">Want to get job<br>in Aviation Industry?</h1>
						<P class="banner-card-1-subtitle">We have good number of available positions to get you your dream job.</P>
						<!-- <a class="banner-card-1-button" href="#">Book in advance</a> -->
						<div>
							<button class="button-hero has-shadow is-rounded is-lg">APPLY NOW</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>