<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LANDING PAGE</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<section class="landing-page-section">
	<div class="landing-page-container">
		<div class="landing-page-wrapper">
			<img class="curve-lines" src="../../assets/img/curve-lines.svg">
			<div class="landing-page-top-logos flex">
				<div class="landing-page-top-logo">
					<img class="landing-page-top-logo-img" src="https://www.figma.com/file/j8Si2510EsjsQnqSBgiC4I/image/ab877c7247516f9105427ea901e8b70a956bd3a5">
				</div>

				<div class="landing-page-top-btn">
					<a href="#">Call</a>
				</div>
			</div>
			<img class="svg-89" src="../../assets/img/Group89.svg">

			<div class="landing-page-text-wrapper">
				<h1 class="landing-page-title">Exciting<br> New Opportunity</h1>

				<h2 class="landing-page-sub-title">Join the Aviation Industry Today
				</h2>
			</div>
			<div class="login-form LP-form">
				<div class="landing-page-boxes flex">
					<div class="box box1"></div>
					<div class="box"></div>
					<div class="box"></div>
					<div class="box"></div>
				</div>

				<img class="flight-svg" src="../../assets/img/flight.svg">
				<div class="form-field">
					<label class="label-1" for="email">Your Full Name</label>
					<input class="input-1" type="text" name="name" id="name" placeholder="Your Full Name">
				</div>

				<div class="form-field">
					<label class="label-1" for="phn-number">Your Mobile Number</label> 
					<input class="input-1" type="text" name="phn-number" id="phn-number" placeholder="e.g 9000001101">
				</div>

				<div class="form-field is-left-svg">
					<label class="label-1" for="select-job">Select job from the list</label>
					<input class="input-1" type="text" name="select-job" id="select-job" placeholder="Select Job">
					<img class="frame-svg" src="../../assets/img/Frame.svg">
				</div>

				<div class="form-field is-left-svg">
					<label class="label-1" for="work">Where do you want to work?</label>
					<input class="input-1" type="text" name="work" id="work" placeholder="Select state">
					<img class="frame-svg" src="../../assets/img/Frame.svg">
				</div>
				<div class="form-field">
					<a class="hero-button-1 LP-btn" href="#">SUBMIT</a>
				</div>
			</div>			
		</div>
		
		<section class="LP-cards-wrapper">
			<img class="LP-cards-svg" src="../../assets/img/Frame66.jpg">
			<img class="LP-cards-svg" src="../../assets/img/Frame66.jpg">
			<img class="LP-cards-svg" src="../../assets/img/Frame66.jpg">
			<img class="LP-cards-svg" src="../../assets/img/Frame66.jpg">
		</section>

		<section class="landing-page-wrapper">
			<div class="sub-title-text">
				<p class="sub-title">
					Our candidates who got excellent position though our company
				</p>
			</div>

			<div class="name-card-wrapper flex">
				<a class="drop-link" href="#">
					<svg class="drop"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path></svg>
				</a>

				<div class="name-card">
					
					<p class="name-card-text flex">
						Thanks to P. Devi Aviation, I thrive in ground handling, tackling challenges and fostering teamwork daily. Grateful for the support, I'm proud to contribute to aviation's success.
					</p>
					
					<div class="horizontal-line"></div>
					<div class="name-card-img">
						<img class="card-man-svg" src="../../assets/img/card-man.png">
						<h1 class="heading">Deepak Shaw</h1>
						<h2 class="sub-heading">Ground Handling Position</h2>
					</div>
					<img class="star-mark-svg" src="../../assets/img/star-mark.svg">
				</div>

				<a class="drop-link" href="#">
					<svg  class="drop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg>
				</a>
			</div>
			<div class="dots">
				<div class="dot is-active-dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
			<div class="hiring-texts">
				<h1 class="hiring-title">
					Land your foot on aviation industry now, <span class="is-blue">we are hiring!</span>
				</h1>
				<p class="hiring-sub-title">
					In the past, we've provided numerous candidates with excellent opportunities for lucrative positions. Now, the aviation industry seeks candidates for vacant roles. Don't delay; secure your place by filling out the form below. Applications are processed on a first-come, first-served basis.
				</p>
			</div>

			<div class="login-form LP-form">

				<div class="form-field">
					<label class="label-1" for="email">Your Full Name</label>
					<input class="input-1" type="text" name="name" id="name" placeholder="Your Full Name">
				</div>

				<div class="form-field">
					<label class="label-1" for="phn-number">Your Mobile Number</label> 
					<input class="input-1" type="text" name="phn-number" id="phn-number" placeholder="e.g 9000001101">
				</div>

				<div class="form-field is-left-svg">
					<label class="label-1" for="select-job">Select job from the list</label>
					<input class="input-1" type="text" name="select-job" id="select-job" placeholder="Select Job">
					<img class="frame-svg" src="../../assets/img/Frame.svg">
				</div>

				<div class="form-field is-left-svg">
					<label class="label-1" for="work">Where do you want to work?</label>
					<input class="input-1" type="text" name="work" id="work" placeholder="Select state">
					<img class="frame-svg" src="../../assets/img/Frame.svg">
				</div>
				<div class="form-field">
					<a class="hero-button-1 LP-btn" href="#">SUBMIT</a>
				</div>
			</div>
		</section>

		<div class="job-apply-form-wrapper">
			<div class="job-apply-form">
				<div class="job-apply-text-wrapper">
					<h1 class="job-apply-heading">
						Want to get job in Aviation Industry?						
					</h1>
					<p class="job-apply-sub-heading">
						We have good number of available positions to get you your dream job. 
					</p>
					<a class="hero-button-1 job-apply-btn" href="#">APPLY NOW</a>
				</div>
				
			</div>
		</div>

	</div>
</section>
</body>
</html>