<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="section">
        <div class="section-mask">
            <div class="section-container">
                <div class="section-wrapper">
                    <div class="life-ds-project-right-card-parent">
                        <div class="life-ds-project-right-card"
                            style="background-image: url('https://images.unsplash.com/photo-1491472253230-a044054ca35f?q=80&w=550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"
                            ;><span class="text">Lead generation</span>

                        </div>
                        <p class="life-ds-project-right-card-content">You can harness the power of our targeted lead
                            generation strategies to generate quality leads for your business.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>