<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400;500&family=Roboto+Condensed&family=Roboto:wght@700&display=swap" rel="stylesheet">
    
</head>

<body>
    <section class="popup-section is-open">

        <div class="popup-card">


            <div class="close-button">
                <svg viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 21.32L21 3.32001" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M3 3.32001L21 21.32" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>

            </div>
            <div class="popup-body">
                <div class="heading">
                    Coming This Summer

                </div>
                <div class="heading-body">
                    Be  One  of  the  first  to  get  Apple  Card
                </div>
                <div class="heading-content">
                    Enter your Apple Id email address and we'll send you the latest news about Apple Card.*
                </div>
                <form class="popup-form">
                    <input type="text" class="form" placeholder="Apple ID email-address" />
                    <button class="button"> Submit</button>
                </form>
            </div>
            <div class="popup-footer">
                *Apple will send email or push notification,where available,<br>
                When there's news about the release of Apple Card.
            </div>
        </div>

    </section>
</body>

</html>