<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
</div>
<div class="tag is-blue">
	<div class="close">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br>
<div class="tag is-red">
	<div class="close">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br>
<div class="tag is-green">
	<div class="close">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br>
<div class="tag is-yellow">
	<div class="close">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br><br><br>
<div class="tag is-disableblue">
<div class="close is-blue">&times</div>
<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br>
<div class="tag is-disablered">
	<div class="close is-red">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br>
<div class="tag is-disablegreen">
	<div class="close is-green">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
<br><br>
<div class="tag is-disableyellow">
	<div class="close is-yellow">&times</div>
	<p>This is a error notification sagittis allquam mainsuada bibencum arcu vitaor elementum curabitur vitae nuncsed velid dignisim sodales ut eu sem integer vitae justo</p>
</div>
</body>
</html>