<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>popup-card</title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="popup-card">
			<div class="popup-card-close-button"><svg class="popup-card-close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
			</svg>
		</div>
			<div class="popup-card-body">
				<div class="popup-card-top-part">
					<div class="popup-card-header">Coming This Summer</div>
				</div>
				<div class="popup-card-title-wrapper">
					<h1 class="popup-card-title">Be one of the first to get Apple Card.</h1>
					<p class="popup-card-subtitle">Enter your Apple ID email address and we'll send you the latest news about Apple Card.*</div>
				</p>
				<form class="popup-card-form">
					<input type="text" name=' 'placeholder="Apple ID Email address" class="popup-card-form-input">
					<button class="popup-card-button">submit</button>
				</form>
				<p class="popup-card-footer">*Apple will send email or push notification, where available,<br>when there's news about the release of Apple Card.</p>
			</div>				
		</div>
	</div>
</body>
</html>

