<DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pricing-Card</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	 <body>
	    <section class="section pricing-section">
				<div class="container">
					<div class="section-wrapper">
						<div class="pricing-cards">
							<div class="pricing-card">
								<div class="pricing-card-header">
									<div class="pricing-card-header-title" data-myslideup="slidein-1">Short Term Membership</div>
									<div class="pricing-card-header-subtitle" data-myslideup="slidein-1">
										<h3 class="pricing-card-header-subtitle-amount">
											<span class="pricing-card-header-subtitle-symbol">&#8377;</span>
											49,000
										</h3>
										<p class="pricing-card-header-subtitle-time">12 MONTHS</p>
									</div>
									<div class="section-cta">
										<a href="/contct" class="section-button is-fullrounded">Get Started</a>
									</div>
								</div>
								<div class="line"></div>
								<div class="pricing-card-footer">
									<ul class="pricing-card-footer-details">
										<li class="pricing-card-footer-detail">12 Months subscription</li>
										<li class="pricing-card-footer-detail">Access to all area of the club</li>
									</ul>
								</div>
							</div>
							<div class="pricing-card main-card">
								<div class="pricing-card-header">
									<div class="pricing-card-header-title" data-myslideup="slidein-1">Short Term Membership</div>
									<div class="pricing-card-header-subtitle" data-myslideup="slidein-1">
										<h3 class="pricing-card-header-subtitle-amount">
											<span class="pricing-card-header-subtitle-symbol">&#8377;</span>
											79,000
										</h3>
										<p class="pricing-card-header-subtitle-time">25 MONTHS</p>
									</div>
									<div class="section-cta">
										<a href="/contct" class="section-button is-fullrounded">Get Started</a>
									</div>
								</div>
								<div class="line"></div>
								<div class="pricing-card-footer">
									<ul class="pricing-card-footer-details">
										<li class="pricing-card-footer-detail">24 Months + 1 month extra  subscription</li>
										<li class="pricing-card-footer-detail">Access to all area of the club</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

	</body>
	</html>
