<html>
<head>
<title>Showcase Section</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="example-005">
	<nav class="navbar has-three-columns showcase-nav">
		<div class="navbar-wrapper">
			<div class="navbar-center">
				<div class="navbar-content">
					<ul class="navbar-menu">
						<div class="navbar-menu-icon">
							<img class="navbar-menu-icon-img" src="https://cdn-icons-png.flaticon.com/512/252/252035.png">
						</div>
						<div class="nav-texts">
							<h2 class="nav-text">RAINDROP</h2>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<section class="hero-section-02 showcase-section">
		<div class="container">
			<div class="hero-section-wrapper">
				<div class="hero-section-texts">
					<div class="hero-section-texts-wrapper" style="margin: 0 auto;">
						<h1 class="hero-title">Smart Bookmarks</h1>

						<div class="hero-cta">
							<button class="button-hero is-fullrounded is-bg">
								Register
							</button>
							<button class="button is-fullrounded is-outlined is-white">	
								Login
							</button>
						</div>
					</div>
				</div>
				
				<div class="container">
					<img class="hero-image" src="/assets/img/panel.jpeg">
				</div>			

			</div>
		</div>
	</section>
</div>	
</body>
</html>
