<html>
<head>
<title>Showcase Section</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="example-005">

	<nav class="navbar has-three-columns showcase-nav">
		<div class="navbar-wrapper">
			<div class="navbar-center">
				<div class="navbar-content">
					<ul class="navbar-menu">

						<div class="navbar-menu-icon">
							<img class="navbar-menu-icon-img" src="https://cdn-icons-png.flaticon.com/512/252/252035.png">
						</div>
						<div class="nav-texts">
							<h2 class="nav-text">RAINDROP</h2>
						</div>

					</ul>
				</div>
			</div>
		</div>
	</nav>

	<section class="hero-section-02 showcase-section">
		<div class="container">
			<div class="hero-section-wrapper">
				<div class="hero-section-texts">
					<div class="hero-section-texts-wrapper" style="margin: 0 auto;">
						<h1 class="hero-title">Smart Bookmarks</h1>

						<div class="hero-cta">
							<button class="button-hero is-btn">Register</button>
							<button class="button-hero is-btn transparent-bg">Login</button>
						</div>
					</div>
				</div>


				<div class="hero-section-image-02">
						<div class="hero-image-wrapper">
							<img class="hero-image" src="/assets/img/panel.jpeg">

							<!-- <img class="hero-image" src="https://plus.unsplash.com/premium_photo-1687572790621-a59f809d4741?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b2xkJTIwcGN8ZW58MHx8MHx8fDA%3D"> -->
						</div>
					</div>
			</div>
		</div>
	</section>
</div>	
</body>
</html>
