<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Slider-Button-chips</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<div class="slider-button-chips" data-myslideup="slidein-1" style="padding: 200px;">
		            <a href="/courses" class="slider-button-chips-btn">Rent / Buy</a>
		            <a href="/courses" class="slider-button-chips-btn">Apartment</a>
		            <a href="/courses" class="slider-button-chips-btn">Villa</a>
		            <a href="/courses" class="slider-button-chips-btn is-active">Townhouse</a>
		            <a href="/courses" class="slider-button-chips-btn">Penthouse</a>
		            <a href="/courses" class="slider-button-chips-btn">Compound</a>
		            <a href="/courses" class="slider-button-chips-btn">Duplex</a>	            
		        </div>
		    
</body>
</html>