<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="section">
        <div class="section-mask">
            <div class="section-container">
                <div class="section-wrapper">
                    <div class="table-component">
                        <div class="table-component-row">
                            <div class="table-component-cell">
                                <div class="table-component-cell-column">
                                    <svg class="table-component-cell-column-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path
                                            d="M17 2V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7V2H17ZM7 6H5V20H19V6H17V8H7V6ZM9 16V18H7V16H9ZM9 13V15H7V13H9ZM9 10V12H7V10H9ZM15 4H9V6H15V4Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="table-component-cell-column">
                                    <div class="table-component-cell-column-title">Ration card name and address correction form</div>
                                    <div class="table-component-cell-column-info">Release Date-12/02/2024 &middot; Last Date-20/03/2024</div>
                                </div>
                            </div>
                            <div class="table-component-cell">
                                <a class="button is-fullrounded" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path d="M1 14.5C1 12.1716 2.22429 10.1291 4.06426 8.9812C4.56469 5.044 7.92686 2 12 2C16.0731 2 19.4353 5.044 19.9357 8.9812C21.7757 10.1291 23 12.1716 23 14.5C23 17.9216 20.3562 20.7257 17 20.9811L7 21C3.64378 20.7257 1 17.9216 1 14.5ZM16.8483 18.9868C19.1817 18.8093 21 16.8561 21 14.5C21 12.927 20.1884 11.4962 18.8771 10.6781L18.0714 10.1754L17.9517 9.23338C17.5735 6.25803 15.0288 4 12 4C8.97116 4 6.42647 6.25803 6.0483 9.23338L5.92856 10.1754L5.12288 10.6781C3.81156 11.4962 3 12.927 3 14.5C3 16.8561 4.81833 18.8093 7.1517 18.9868L7.325 19H16.675L16.8483 18.9868ZM13 12H16L12 17L8 12H11V8H13V12Z"></path>
                                    </svg>
                                    Download
                                </a>
                            </div>
                
                        </div>
                        <div class="table-component-row">
                            <div class="table-component-cell">
                                <div class="table-component-cell-column">
                                    <svg class="table-component-cell-column-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path
                                            d="M17 2V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7V2H17ZM7 6H5V20H19V6H17V8H7V6ZM9 16V18H7V16H9ZM9 13V15H7V13H9ZM9 10V12H7V10H9ZM15 4H9V6H15V4Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="table-component-cell-column">
                                    <div class="table-component-cell-column-title">Ration card name and address correction form</div>
                                    <div class="table-component-cell-column-info">Release Date-12/02/2024 &middot; Last Date-20/03/2024</div>
                                </div>
                            </div>
                            <div class="table-component-cell">
                                <a class="button is-fullrounded" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path d="M1 14.5C1 12.1716 2.22429 10.1291 4.06426 8.9812C4.56469 5.044 7.92686 2 12 2C16.0731 2 19.4353 5.044 19.9357 8.9812C21.7757 10.1291 23 12.1716 23 14.5C23 17.9216 20.3562 20.7257 17 20.9811L7 21C3.64378 20.7257 1 17.9216 1 14.5ZM16.8483 18.9868C19.1817 18.8093 21 16.8561 21 14.5C21 12.927 20.1884 11.4962 18.8771 10.6781L18.0714 10.1754L17.9517 9.23338C17.5735 6.25803 15.0288 4 12 4C8.97116 4 6.42647 6.25803 6.0483 9.23338L5.92856 10.1754L5.12288 10.6781C3.81156 11.4962 3 12.927 3 14.5C3 16.8561 4.81833 18.8093 7.1517 18.9868L7.325 19H16.675L16.8483 18.9868ZM13 12H16L12 17L8 12H11V8H13V12Z"></path>
                                    </svg>
                                    Download
                                </a>
                            </div>
                        
                        </div>
                        <div class="table-component-row">
                            <div class="table-component-cell">
                                <div class="table-component-cell-column">
                                    <svg class="table-component-cell-column-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path
                                            d="M17 2V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7V2H17ZM7 6H5V20H19V6H17V8H7V6ZM9 16V18H7V16H9ZM9 13V15H7V13H9ZM9 10V12H7V10H9ZM15 4H9V6H15V4Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="table-component-cell-column">
                                    <div class="table-component-cell-column-title">Ration card name and address correction form</div>
                                    <div class="table-component-cell-column-info">Release Date-12/02/2024 &middot; Last Date-20/03/2024</div>
                                </div>
                            </div>
                            <div class="table-component-cell">
                                <a class="button is-fullrounded" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path d="M1 14.5C1 12.1716 2.22429 10.1291 4.06426 8.9812C4.56469 5.044 7.92686 2 12 2C16.0731 2 19.4353 5.044 19.9357 8.9812C21.7757 10.1291 23 12.1716 23 14.5C23 17.9216 20.3562 20.7257 17 20.9811L7 21C3.64378 20.7257 1 17.9216 1 14.5ZM16.8483 18.9868C19.1817 18.8093 21 16.8561 21 14.5C21 12.927 20.1884 11.4962 18.8771 10.6781L18.0714 10.1754L17.9517 9.23338C17.5735 6.25803 15.0288 4 12 4C8.97116 4 6.42647 6.25803 6.0483 9.23338L5.92856 10.1754L5.12288 10.6781C3.81156 11.4962 3 12.927 3 14.5C3 16.8561 4.81833 18.8093 7.1517 18.9868L7.325 19H16.675L16.8483 18.9868ZM13 12H16L12 17L8 12H11V8H13V12Z"></path>
                                    </svg>
                                    Download
                                </a>
                            </div>
                        
                        </div>
                        <div class="table-component-row">
                            <div class="table-component-cell">
                                <div class="table-component-cell-column">
                                    <svg class="table-component-cell-column-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path
                                            d="M17 2V4H20.0066C20.5552 4 21 4.44495 21 4.9934V21.0066C21 21.5552 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5551 3 21.0066V4.9934C3 4.44476 3.44495 4 3.9934 4H7V2H17ZM7 6H5V20H19V6H17V8H7V6ZM9 16V18H7V16H9ZM9 13V15H7V13H9ZM9 10V12H7V10H9ZM15 4H9V6H15V4Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="table-component-cell-column">
                                    <div class="table-component-cell-column-title">Ration card name and address correction form</div>
                                    <div class="table-component-cell-column-info">Release Date-12/02/2024 &middot; Last Date-20/03/2024</div>
                                </div>
                            </div>
                            <div class="table-component-cell">
                                <a class="button is-fullrounded" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        width="16" height="16" fill="currentColor">
                                        <path d="M1 14.5C1 12.1716 2.22429 10.1291 4.06426 8.9812C4.56469 5.044 7.92686 2 12 2C16.0731 2 19.4353 5.044 19.9357 8.9812C21.7757 10.1291 23 12.1716 23 14.5C23 17.9216 20.3562 20.7257 17 20.9811L7 21C3.64378 20.7257 1 17.9216 1 14.5ZM16.8483 18.9868C19.1817 18.8093 21 16.8561 21 14.5C21 12.927 20.1884 11.4962 18.8771 10.6781L18.0714 10.1754L17.9517 9.23338C17.5735 6.25803 15.0288 4 12 4C8.97116 4 6.42647 6.25803 6.0483 9.23338L5.92856 10.1754L5.12288 10.6781C3.81156 11.4962 3 12.927 3 14.5C3 16.8561 4.81833 18.8093 7.1517 18.9868L7.325 19H16.675L16.8483 18.9868ZM13 12H16L12 17L8 12H11V8H13V12Z"></path>
                                    </svg>
                                    Download
                                </a>
                            </div>
                        
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

</body>

</html>