<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tag Components</title>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<section class="tag-components-section">
		<div class="btn-container">
			<div class="tag-btn is-black">Black</div>
			<br><br>
			<div class="tag-btn is-dark">Dark</div>
			<br><br>
			<button class="tag-btn is-light">Light</button>
			<br><br>
			<button class="tag-btn is-white">White</button>
			<br><br>
			<input class="tag-btn is-sky" type="submit" value="Primary">
			<br><br>
			<a     class="tag-btn is-indigo" href="#">Link</a>
			<br><br>
			<a     class="tag-btn is-blue" href="#">Info</a>
			<br><br>
			<a     class="tag-btn is-green" href="#">Success</a>
			<br><br>
			<a     class="tag-btn is-yellow" href="#">Warning</a>
			<br><br>
			<a     class="tag-btn is-red" href="#">Danger</a>
		</div>
	</section>
</body>
</html>