<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles.css">
	
</head>
<body>
<span class="tag is-black">Black</span>
<br><br>
<span class="tag is-black">Dark</span>
<br><br>
<span class="tag is-grey">Light</span>
<br><br>
<span class="tag is-white">White</span>
<br><br>
<span class="tag is-lightgreen">Primary</span>
<br><br>
<span class="tag is-blue">Link</span>
<br><br>
<span class="tag is-skyblue">Info</span>
<br><br>
<span class="tag is-green">Success</span>
<br><br>
<span class="tag is-yellow">Warning</span>
<br><br>
<span class="tag is-red">Danger</span>
</body>
</html>
