<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div class="container">
        <div class="tags">
        <a class=" tag black-tag" href="#">Black</a>


            <button class="tag  dark-tag">Dark</button>
            

            <input class="tag  light-tag" type="button" value="Light" />
            
            <a class="tag  white-tag" href="#">White</a>
        

            <button class="tag  primary-tag">Primary</button>
            

            <input class="tag  link-tag" type="button" value="Link" />
            
            <a class="tag  info-tag" type="button">Info</a>
            

            <button class="tag suc-tag">Success</button>
            

            <input class="tag warning-tag" type="button" value="Warning" />
            

            <button class="tag  danger-tag">Danger</button>
        </div>
    </div>




</body>

</html>