<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tag Components</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<span class="tag is-black">Black</span>
	<br><br>
	<span class="tag is-dark">Dark</span>
	<br><br>
	<span class="tag is-light">Light</span>
	<br><br>
	<span class="tag is-white">White</span>
	<br><br>
	<span class="tag is-sky">Primary</span>
	<br><br>
	<span class="tag is-indigo">Link</span>
	<br><br>
	<span class="tag is-blue">Info</span>
	<br><br>
	<span class="tag is-green">Success</span>
	<br><br>
	<span class="tag is-yellow">Warning</span>
	<br><br>
	<span class="tag is-red">Danger</span>
</body>
</html>