<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <span class="tag">
        <span class="tag is-evil">Black </span>


        <span class="tag is-dark">Dark </span>


        <span class="tag is-light"> Light</span>

        <span class="tag is-purity">White</span>


        <span class="tag is-primary">Primary</span>


        <span class="tag is-link">Link</span>

        <span class="tag is-info">Info</span>


        <span class="tag is-success">Success</span>


        <span class="tag is-warning">Warning</span>


        <span class="tag is-danger">Danger</span>

    </span>




</body>

</html>