<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Testimonial 2</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<section class="section testimonial-2">
			<div class="container">
				<div class="section-wrapper">		
					<div class="testimonial-slider">
						<div class="testimonial-img-slide" style="left: -10%;
  top: -12%;">
							<div class="testimonial-left-img">
								<div class="particle position-1"></div>
								<img class="testimonial-img small" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="">

							</div>
							<div class="bestimonial-right-img">
								<img class="testimonial-img large" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="">
								<img class="testimonial-img medium" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="">
							</div>
						</div>
						<div class="testimonial-slider-wrapper" data-myslides="slider-1">
							<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img 
									class="testimonial-slider-content-avatar-svg" src="/assets/img/start.svg">
									<img 
									class="testimonial-slider-content-avatar-svg" src="/assets/img/start.svg">
									<img 
									class="testimonial-slider-content-avatar-svg" src="/assets/img/start.svg">
									<img 
									class="testimonial-slider-content-avatar-svg" src="/assets/img/start.svg">
									<img 
									class="testimonial-slider-content-avatar-svg" src="/assets/img/start.svg">

								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">The CommPeak Dialer is probably the best dialer I've used. No other dialer on the market can match its automation power.</h2>
									<p class="testimonial-slider-content-detail-subtitle">
										Barak, Operations Manager <br><span class="is-gray">BMB</span>
									</p>
								</div>
							</div>
							
						</div>
						<div class="testimonial-img-slide"style="left: 10%;
  top: 12%;">
							<div class="testimonial-left-img">
								<img class="testimonial-img small" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="">
								<div class="particle position-2"></div>
							</div>
							<div class="bestimonial-right-img">
								<img class="testimonial-img large" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="">
								<img class="testimonial-img medium" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</body>
</html>