<DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Testimonial 1</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body style="padding: 100px;">
		<section class="section" style="background-color: #FF9999; padding-top: 12px;padding-bottom: 32px;">
			<div class="container">
				<div class="section-wrapper">
					<div class="testimonial-slider ">
						<button class="testimonial-slider-button">
							<svg class="testimonial-slider-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" ></path></svg>
						</button>
						<div class="testimonial-slider-wrapper" data-myslides="slider-1">
							<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img class="testimonial-slider-content-avatar-image" src="/assets/img/feature.png">
								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">Samrat Choudhary</h2>
									<p class="testimonial-slider-content-detail-subtitle">Excellent food... you can enjoy the place with your family and friends....</p>
								</div>
							</div>
							<!--<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img class="testimonial-slider-content-avatar-image" src="assets/img/avatar.jpg">
								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">Papiya Sarkar</h2>
									<p class="testimonial-slider-content-detail-subtitle">Experience is mind-blowing, food quality is awesome, and the ambience is outstanding. Overall its a excellent place.</p>
								</div>
							</div>
							<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img class="testimonial-slider-content-avatar-image" src="assets/img/avatar.jpg">
								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">Bholanath Chakraborty</h2>
									<p class="testimonial-slider-content-detail-subtitle">Very nice ambience with tasty food. Staff behavior also very polite, quick response.</p>
								</div>
							</div>
							<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img class="testimonial-slider-content-avatar-image" src="assets/img/avatar.jpg">
								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">Dibyendu Pusti</h2>
									<p class="testimonial-slider-content-detail-subtitle">Wonderful place to celebrate any occasion with family, friends, or simple dinning. Delicious food and excellent service. So happy to have this magical place at Kharagpur. Long live Fareast...</p>
								</div>
							</div>
							<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img class="testimonial-slider-content-avatar-image" src="assets/img/avatar.jpg">
								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">Sourabh Kumar</h2>
									<p class="testimonial-slider-content-detail-subtitle">Nice meal. Tasty and delicious. Fully satisfied. Quality of food is awesome. Sahara restaurant. Must come and enjoy delicious food. Enjoy🤗✌</p>
								</div>
							</div>
							<div class="testimonial-slider-content">
								<div class="testimonial-slider-content-avatar">
									<img class="testimonial-slider-content-avatar-image" src="assets/img/avatar.jpg">
								</div>
								<div class="testimonial-slider-content-detail">
									<h2 class="testimonial-slider-content-detail-title">Disha Dutta</h2>
									<p class="testimonial-slider-content-detail-subtitle">Is awesome . fabulous location well behaved nd totally darun. Yesterday we enjoyed the whole time very much 🥰.</p>
								</div>
							</div>-->
						</div>
						<button class="testimonial-slider-button">
							<svg class="testimonial-slider-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z" ></path></svg>
						</button>
					</div>
				</div>
			</div>
		</section>
	</body>
	</html>
</DOCTYPE>