<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="the-numbers-1">
        <div class="the-numbers-1-list">
            <h1 class="the-numbers-1-title">250+</h1>
            <h3 class="the-numbers-1-subtitle">Happy Clients</h3>
        </div>
        <div class="the-numbers-1-list">
            <h1 class="the-numbers-1-title">90%</h1>
            <h3 class="the-numbers-1-subtitle">Success Stories</h3>
        </div>
        <div class="the-numbers-1-list">
            <h1 class="the-numbers-1-title">7%</h1>
            <h3 class="the-numbers-1-subtitle">Industry Expertise</h3>
        </div>
    </div>

    </div>
    </div>
</body>

</html>