@mixin button-reset {
	height: $button-size;
	padding-left: $button-hpadding;
	padding-right: $button-hpadding;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	font-size: $button-font-size;
	font-weight: 600;
	color: $black-003;
	position: relative;
	z-index: 2;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade-scale {
	0% {
		transform: scale(.1);
		opacity: .1;
		transform-origin: top right;
	}

	100% {
		transform: scale(1);
		opacity: 1;
		transform-origin: top right;
	}
}

// Small 	up to 640px 	20" to 65" 	TVs 						320x569, 360x640, 480x854
// Medium 	641 - 1007px 	7" to 12" 	Tablets 					960x540
// Large 	1008ps and up 	13" and up 	PCs, Laptops, Surface Hub 	1024x640, 1366x768, 1920x1080

@mixin mobile-sm {
	@media (max-width: 320px) {
		@content;
	}
}
@mixin mobile-md {
	@media (max-width: 360px) {
		@content;
	}
}
@mixin mobile-lg {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin tab {
	@media (max-width: 960px) {
		@content;
	}
}

@mixin desktop-sm {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin desktop-md {
	@media (max-width: 1366px) {
		@content;
	}
}
@mixin desktop-sm {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin desktop-lg {
	@media (max-width: 1920px) {
		@content;
	}
}


@mixin mobile {
	@media (max-width: 450px) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: 1024px) {
		@content;
	}
}