.footer-section {
	display: grid;
	&.has-two-columns { grid-template-columns: repeat(2, 1fr); }
	&.has-three-columns { grid-template-columns: repeat(3, 1fr); }
	&.has-four-columns { grid-template-columns: repeat(4, 1fr); }
	&.has-five-columns { grid-template-columns: repeat(5, 1fr); }

	&-column {
		.list-section {
			padding: 0 1rem;

			& + .list-section {
				margin-top: 2rem;
			}

			&-title {
				font-weight: 600;
				margin-bottom: .5rem;
				color: $white-color;
			}

			.list {
				&-item {
					color: $white-color;
					&-link {
						color: $white-color;
					}
				}
			}
		}

	}

	.footer-section-logo {
		height: 40px;
		margin-bottom: 2rem;
	}

	.footer-section-brand-title {
		font-size: 2rem;
		line-height: 1.25;
	}

	.footer-section-copyright-container {
		.footer-section-copyright {
			margin-top: 3rem;

			&-line {
				font-size: 14px;
				color: $gray-001;
			}
		}
	}
}